body{
    background:#80472F;
    justify-content: space-evenly;
}
.subtitulos2{
    font-size: unset;
}
.instrucciones{
    background: #FB9664;
    color: black;
    border: double;
    border-radius: 18px;
    padding: 10px;
    width: 55%;
    margin: auto;
    margin-bottom: 24px;
}
h1{
    display: flex;
    justify-content: space-evenly;
    text-justify: distribute;
}
.sub-titulo{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
p{
    text-align: justify;
    padding: 40px;
}
.titulo-descripcion{
    justify-content: stretch;
    color: blanchedalmond;
}
.cont-cifrar{
    border-radius: 30px;
    background: #FB9664;
    padding: 15px;
    border: dashed;
    width: 80%;
    margin: auto;
    font-size: larger;
}
#frase{
    width: 95%;
    height: 90px;
}
.container-resultado{
    display: flex;
}
.texto-resultado-cifrado{
    display: flex;
    background: #CC470E;
    color: white;
    width: 90%;
    word-break: break-all;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: double;
    padding: 13px;
}
.texto-resultado-descifrado{
    display: flex;
    background: #802C09;
    color: white;
    width: 90%;
    text-align: justify;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: double;
    padding: 13px;
}
.frase-ejemplo{
    display: flex;
    background:blanchedalmond;
    color: black;
    width: 80%;
    word-break: break-all;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: double;
}
.btn{
    padding: 7px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #FA6419;
    border-radius: 6px;
}
.btn:hover{
    color: #FA6419;
    background-color: #ffffff;
}
#frase{
    background:blanchedalmond;
    border-radius: 15px;
    padding: 10px;
}
#clavePosicion{
    background:blanchedalmond;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}